{{!
SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>

SPDX-License-Identifier: AGPL-3.0-only
}}
{{#isQueryParam}}{{!

    }}@ApiParam(value = "{{{description}}}"{{!
        }}{{#required}}, required = true{{/required}}{{!
        }}{{^isContainer}}{{!
            }}{{!
            }}{{#defaultValue}}, defaultValue = "{{{.}}}"{{/defaultValue}}{{!
        }}{{/isContainer}}{{!
    }}){{!

    }}{{^isContainer}}{{!
        }}{{#defaultValue}}{{!
            }} @DefaultValue("{{{defaultValue}}}"){{!
        }}{{/defaultValue}}{{!
    }}{{/isContainer}}{{!

    }} @QueryParam("{{baseName}}"){{!

    }}{{#useBeanValidation}} {{>beanValidation}}{{/useBeanValidation}}{{!

    }} {{{dataType}}} {{paramName}}{{!

}}{{/isQueryParam}}
