{{!
SPDX-FileCopyrightText: 2025 Zextras <https://www.zextras.com>

SPDX-License-Identifier: AGPL-3.0-only
}}
{{#discriminator}}
  @JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.EXISTING_PROPERTY, property = "{{discriminatorName}}", visible = true)
  {{#children}}
  {{#-first}}
  @JsonSubTypes({
  {{/-first}}
  @JsonSubTypes.Type(value = {{classname}}.class, name = "{{name}}"){{^-last}},{{/-last}}
  {{#-last}}
  })
  {{/-last}}
  {{/children}}
{{/discriminator}}
