[Unit]
Description=Carbonio Workstream Collaboration sidecar proxy
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=carbonio-ws-collaboration
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/ws-collaboration/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-ws-collaboration
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=carbonio.target
